/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.bookings .booking { margin-top: 10px; padding: 3px 0px; border-bottom: 1px solid black; }
.bookings .booking.first { border-top: 1px solid black; }
.bookings .booking .hotel { font-size: 20px; margin-bottom: 3px; font-weight: bold; }
.bookings .booking .travel_dates { margin-bottom: 3px; }
.bookings .booking .confirmation_number { color: gray; }

#map-canvas { width: 100%; height: 500px; }
